:root {
  --background: #fff;
  --foreground: #d2d3db;
  --color-text: #000;
  --toggled-color: #000;
}

[data-theme="dark"] {
  --background: #000;
  --foreground: #332940;
  --color-text: #fff;
  --toggled-color: #fff;
}

.main-body {
    display: flex;
    width: 80%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background);
}
