:root {
  --background: #f0ece3;
  --foreground: #dfd3c3;
  --color-text: #14213d;
  --toggled-color: #a68dad;
  --link-nav: #fca311;
}

[data-theme="dark"] {
  --background: #04293a;
  --foreground: #14213d;
  --color-text: #f0ece3;
  --toggled-color: #064663;
  --link-nav: #fca311;
}
.main-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main-about .sec-img{
  width: 80%;
  background-color: #fca311;
  border-radius: 50%;
}
.main-about .sec-img img{
  width: 100%;
}
.main-about .sec-about:first-child{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-about .sec-about:last-child{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-about .sec-about .about{
  width: 95%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--foreground);
  border-radius: 20px;
  padding: 0.4rem;
}