:root {
  --background: #f0ece3;
  --foreground: #dfd3c3;
  --color-text: #14213d;
  --toggled-color: #a68dad;
  --link-nav: #fca311;
}

[data-theme="dark"] {
  --background: #04293a;
  --foreground: #14213d;
  --color-text: #f0ece3;
  --toggled-color: #064663;
  --link-nav: #fca311;
}
.main-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.first-about {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}
.first-about h3 {
  font-size: 2.5rem;
  padding-left: 10%;
}
.first-about h3:after {
  content: "";
  position: absolute;
  background-color: var(--link-nav);
  height: 3px;
  width: 10%;
  border-radius: 3px;
}
/* .about-t h3:before{
    content: "";
    width: 0.3rem;
    color: #fca311;
    height: 2px;
} */
.prin-sec-about {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
}
.about-t {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-t p {
  text-align: justify;
  width: 85%;
  font-size: 1.2rem;
}
.sec-f-about {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}
.sec-f-about h3 {
  /* align-self: self-start; */
  color: var(--color-text);
  font-size: 1.3rem;
  padding-left: 2rem;
}
.sec-about {
  width: 80%;
  height: 70%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: auto;
}
.card-p {
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--link-nav);
}
.icon-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-div .icon-skill {
  font-size: 3.5rem;
  color: var(--link-nav);
}
.icon-div p {
  color: var(--color-text);
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .main-about {
    width: 100%;
  }
  .prin-sec-about {
    flex-direction: column;
  }
  .about-t,
  .sec-f-about {
    width: 100%;
  }
  .sec-about {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
