:root {
  --background: #F0ECE3;
  --foreground: #DFD3C3;
  --color-text: #14213D;
  --toggled-color: #A68DAD;
  --link-nav : #FCA311;
}

[data-theme="dark"] {
  --background: #04293A;
  --foreground: #14213D;
  --color-text: #F0ECE3;
  --toggled-color: #064663;
  --link-nav : #FCA311;
}
.main-home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.sec-home {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec-home #greet {
  width: 80%;
  font-size: 1.9rem;
  color: var(--color-text);
  margin-bottom: 0.5rem;
  font-family: "Markazi Text", serif;
  line-height: 0.9;
}
.sec-home #greet .info {
  color: var(--link-nav);
  font-size: 2.5rem;
  font-family: "Markazi Text", serif;
}
.sec-home p {
  font-family: "Markazi Text", serif;
  width: 80%;
  text-align: justify;
  color: var(--color-text);
  font-size: 1.2rem;
}
.sec-home p .name{
    color: var(--link-nav);
    font-size: 1.5rem;
}
.sec-home p .lng{
    color: var(--link-nav);
}
.sec-home .btn{
    width: 25%;
    align-self: flex-start;
    margin-left: 3.8rem;
    margin-top: 0.5rem;
    text-decoration: none;
    border: 1px solid var(--link-nav);
    color: var(--color-text);
    height: 1.2rem;
    border-radius: 5px;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-home .imageP{
    width: 80%;
}