@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Roboto:wght@300;400;700&display=swap");
:root {
  --background: #f0ece3;
  --foreground: #e8d5c6;
  --color-text: #14213d;
  --toggled-color: #a68dad;
  --link-nav: #fca311;
}

[data-theme="dark"] {
  --background: #04293a;
  --foreground: #14213d;
  --color-text: #f0ece3;
  --toggled-color: #064663;
  --link-nav: #fca311;
}
.main-home {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.main-home .main-sub {
  width: 85%;
  height: 65%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.sec-home {
  width: 48%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sec-home:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-home .img-pre {
  width: 70%;
  height: 75%;
  border-radius: 50%;
  background-color: #fca311;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-home .img-pre img {
  width: 100%;
  height: 100%;
}
.sec-home .text-pre {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* line-height: 1.3; */
}
.sec-home .text-pre h2,
.sec-home .text-pre p,
.sec-home .text-pre h3 {
  color: var(--color-text);
}
.sec-home .text-pre h2 {
  font-size: 1.4rem;
}
.sec-home .text-pre p {
  font-size: 1rem;
}
.sec-home .text-pre h3 {
  font-size: 1.7rem;
}
.sec-home .button-div {
  margin-top: 1rem;
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.sec-home .button-div .btn,
.cer {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 2px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}
.sec-home .button-div .btn:focus-visible,
.cer:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}
.sec-home .button-div .btn:active,
.cer:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.sec-home .button-div .btn:disabled,
.cer:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .main-home .main-sub {
    flex-direction: column;
    width: 100%;
    height: 75%;
    align-items: center;
    justify-content: space-around;
  }
  .sec-home:first-child {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec-home:last-child {
    height: 70%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec-home .text-pre {
    width: 100%;
  }
  .sec-home .text-pre h2 {
    font-size: 1.8rem;
  }
  .sec-home .text-pre p {
    font-size: 1.2rem;
  }
  .sec-home .text-pre h3 {
    font-size: 1.6rem;
  }
  .sec-home .button-div {
    width: 90%;
    justify-content: space-evenly;
  }
  /* .sec-home .button-div .btn, .cer{
    justify-content: space-evenly;
  } */
}
