@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Roboto:wght@300;400;700&display=swap');
:root {
  --background: #f0ece3;
  --foreground: #e8d5c6;
  --color-text: #14213d;
  --toggled-color: #a68dad;
  --link-nav: #fca311;
}

[data-theme="dark"] {
  --background: #04293a;
  --foreground: #14213d;
  --color-text: #f0ece3;
  --toggled-color: #064663;
  --link-nav: #fca311;
}
.main-home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.sec-home {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec-home #greet {
  width: 80%;
  font-size: 1.9rem;
  color: var(--color-text);
  margin-bottom: 0.5rem;
  font-family: "Markazi Text", serif;
  line-height: 0.9;
}
.sec-home #greet .info {
  color: var(--link-nav);
  font-size: 2.4rem;
  font-family: 'Montserrat', sans-serif;
}
.sec-home p {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  text-align: justify;
  color: var(--color-text);
  font-size: 1.1rem;
}
.under-p{
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem 0;
}
.sec-home p .name{
    color: var(--link-nav);
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.sec-home p .lng{
    color: var(--link-nav);
}
.sec-home .btn, .sec-home .cer{
    width: 25%;
    /* align-self: flex-start;
    margin-left: 3.8rem;
    margin-top: 0.5rem; */
    text-decoration: none;
    border: 1px solid var(--link-nav);
    color: var(--color-text);
    height: 1.2rem;
    border-radius: 5px;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    align-items: center;
}
.sec-home .imageP{
    width: 80%;
}

@media only screen and (max-width: 768px){
  .main-home{
    flex-direction: column;
  }
  .sec-home{
    width: 100%;
    height: 50%;
  }
  .sec-home #greet{
    width: 95%;
    font-size: 1.5rem;
    margin: 0.6rem 0 0;
  }
  .sec-home p{
    width: 95%;
    font-size: 1rem;
  }
  .sec-home .under-p{
    width: 95%;
  }
  .sec-home .under-p .btn, .sec-home .under-p .cer{
    height: 1rem;
    font-size: 0.8rem;
  }
}