@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Roboto:wght@300;400;700&display=swap");
:root {
  --background: #F2F5F9;
  --foreground: #FCCF75;
  --color-text: #1A3949;
  --toggled-color: #a68dad;
  --link-nav: #EF5544;
}

[data-theme="dark"] {
  --background: #111013;
  --foreground: #1A3949;
  --color-text: #F4F7E4;
  --toggled-color: #064663;
  --link-nav: #EF5544;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 0;
  /* background-image: var(--img); */
  background-size: cover;
  background-color: var(--background);
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}
